<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{htmlWebpackPlugin.options.title}}</title>

    </head>
    <body>        
        <div class="wrap">
            <div class="chat" id="chat"></div>
            <div id="authBlock" class="authBlock" data-coord="" data-address="" data-position="">
                {{> "./src/templates/auth.hbs"}}
            </div>
        </div>
    </body>
</html>
