<div class="authBlock__logo--close">
        <img class="auth__close" src="./src/img/close.svg" alt="Close">
    </div>

<div class="authBlock__logo">
    
    <img class="logo__pic" src="./src/img/logo_auth.png" alt="логотип">
</div>
<div class="authBlock__desc">
    <h3>Авторизация</h3>
    <p>Введите пожалуйста свое ФИО и ник для дальнейшей авториации
</div>
<div class="authBlock__form">
    <input type="text" class="authBlock__input" placeholder="Введите свое имя">
    <input type="text" class="authBlock__input" placeholder="Введите свой ник">
    <div class="authBlock__form--button-area">
        <button class="authBlock__login-btn">Войти</button>
    </div>
    
</div>