<div class="chat__header">
    <div class="chat__header--close">
        <img src="./src/img/close.png" alt="закрыть">
    </div>
    <div class="chat__header--expand">
        <img src="./src/img/expand.png" alt="развернуть">
    </div>
    <div class="chat__header--collapse">
        <img src="./src/img/collapse.png" alt="свернуть">
    </div>
</div>
<div class="chat__body">
    <div class="chat__body--sidebar">
        <div class="sidebar__head">
            <div class="sidebar__menu">
                <div class="humburger__bar"></div>
                <div class="humburger__bar"></div>
                <div class="humburger__bar"></div>
            </div>
            <div class="sidebar__filter">
                <input type="text" class="sidebar__filter--input" placeholder="Найти...">
            </div>

        </div>
        <!-- началао список пользователей онлйн--->
        <ul class="sidebar__users">
            <li class="user__item">
                <div class="user__pic">
                    <img src="./src/img/no-avatar-300x300.png" alt="" width="100%" height="100%">
                </div>
                <div class="user__info">
                    <div class="user__name">Иван Петров</div>
                    <div class="user__status">Петросяню</div>
                </div>
            </li>
        </ul>
        <!-- конец список пользователей онлйн--->
    </div>
    <div class="chat__body--message-zone">
        <div class="message-zone__header">1</div>
        <div class="message-zone__body">2</div>
        <div class="message-zone__input">3</div>
    </div>
</div>