{{#each usersList }}
<ul class="sidebar__users">
    <li class="user__item">
        <div class="user__pic">
            <img src="./src/img/no-avatar-300x300.png" alt="" width="100%" height="100%">
        </div>
        <div class="user__info">
            <div class="user__name"> {{ fullName }} </div>
            <div class="user__status">Петросяню</div>
        </div>
    </li>
</ul>
{{/each }}